/*
 * BNote Main Color Definitions 
 */
@bnote-color: #F24E4E;
@bnote-dark-alt: #8C2B2B;

@bnote-yellow: #F9FF61;
@bnote-redish: #ED6D6D;
@bnote-green: #3AE61C;

@bnote-blackish: #383838;
@bnote-lightgray: #E3CACA;
@bnote-middlegray: #8F6E6E;
@bnote-darkgray: #664646;

@black: #000000;
@white: #FFFFFF;