BNote/data/gallery/
BNote/config/
.metadata/
BNote-App/.classpath
BNote-App/.project
BNote-App/.settings/
BNote/data/
TriggerServer/.settings/
TriggerServer/.project
TriggerServer/.buildpath
TriggerServer/db.xml
BNote-Releases/tmp/
