BNote/data/gallery/
BNote/config/
.metadata/
BNote-App/.classpath
BNote-App/.project
BNote-App/.settings/
BNote/data/
TriggerServer/.settings/
TriggerServer/.project
TriggerServer/.buildpath
TriggerServer/db.xml
BNote-Releases/tmp/
.idea
.metadata
BNote/style/css/bnote.css
BNote/style/css/dark/bnote.css
BNote/style/css/default/bnote.css
BNote/style/css/green/bnote.css
BNote/style/css/orange/bnote.css
BNote/style/css/red/bnote.css
BNote/vendor/
BNote/composer.phar
