BNote/data/gallery/*

BNote/config/config.xml

BNote/config/database.xml
.metadata/

BNote/config/config.xml

BNote/config/config.xml

BNote/config/database.xml

BNote/config/config.xml

BNote/data/gallery/1/1.JPG

BNote/data/gallery/1/2.jpg

BNote/data/gallery/thumbs/1/1.JPG

BNote/data/gallery/thumbs/1/2.jpg
