/*
 * BNote Main Color Definitions 
 */
@bnote-color: #356A9C;
@bnote-light: #eef4fa;
@bnote-dark-alt: #143452;
@bnote-very-dark: #243E56;

@bnote-yellow: #F9FF61;
@bnote-redish: #ED6D6D;
@bnote-green: #58b658;

@bnote-almost-white: #f6f6f6;
@bnote-blackish: #383838;
@bnote-lightgray: #BFCEDB;
@bnote-middlegray: #586C80;
@bnote-darkgray: #2F4152;

@black: #000000;
@white: #FFFFFF;