@CHARSET "ISO-8859-1";

a.imagetable {
	
}

div.imagetable {
	display: inline-block;
	border: 1px solid #e0e0e0;
	text-align: center;
	padding: 5px;
	
}

span.imagetable_label {
}

img.imagetable {
	margin-bottom: 3px;
}