@CHARSET "ISO-8859-1";

.progressbar {
	width: 1000px;
	float: none;
}

.progressbar_step {
	float: left;
	height: 40px;
	width: 140px;
	
	padding-top: 20px;
	padding-left: 10px;
	margin-right: 3px;
	
	color: #A0CFFF;
	font-weight: bold;
	
	background-image: url(../images/progress_step_tocome.png);
	background-repeat: no-repeat;
	background-position: right;
}

.passed {
	color: #000000;
	
	background-image: url(../images/progress_step.png);
	background-repeat: no-repeat;
}

pre.concert {
	color: #67696E;
	font-style: italic;
}

a.concert {
	color: #285DB8;
	text-decoration: none;
}

div.concert {
	width: 600px;
	border: 1px solid #679BF5;
	padding-left: 10px;
}

strong.concert {
	color: #285DB8;
}
