<?xml version="1.0" encoding='utf-8'?>

<Software Name="BlueNote">

 <!-- ID of the Start module -->
 <StartModule>1</StartModule>
 
 <!-- URL of the BlueNote system -->
 <URL>http://bluenote.inizio.org</URL>
 
 <!-- E-mail-address of the administrator -->
 <Admin>info@mattimaier.de</Admin>
 
 <!-- Path to the manual file, i.e. PDF file -->
 <Manual>data/manual.pdf</Manual>
 
 <!-- True when this is a demo system with deactived mailing function, otherwise false (default). -->
 <DemoMode>false</DemoMode>
 
 <!-- In case users have to be activated by the administrator set this to true,
      otherwise users will be activated by clicking on a link in an email (false).
 -->
 <ManualUserActivation>false</ManualUserActivation>
</Software>
