a.navi {
 font-family: sans-serif;
 font-size: 16px;
 text-decoration: none;
 color: #000000;
 }

a.navi:hover {
 color: #FFFFFF;
 }

a.navi:visited {
 color: #000000;
 }

div.navi_item {
 float: left;
 height: 25px;

 padding-left: 10px;
 padding-right: 10px;
 padding-top: 5px;
 
 background-color: #679BF5;
 color: #FFFFFF;
 
 border-style: solid;
 border-width: 1px;
 border-color: #679BF5;
 }

div.navi_item:hover {
 border: 1px solid #F0F0F0;
 background-color: #F0F0F0;
 color: #679BF5;
 }

div.navi_item_selected {
 float: left;
 height: 25px;

 padding-left: 10px;
 padding-right: 10px;
 padding-top: 5px;

 font-weight: bold;
 color: #679BF5;
 background-color: white;

 border-style: solid;
 border-width: 1px;
 border-color: white;
 }

div.navi_item_selected:hover {
 border: 1px solid #FFFFFF;
 }

td.DataTable_Header {
 background-color: #285DB8;
 font-weight: bold;
 color: #FFFFFF;
 }

td.DataTable {
 border-style: solid;
 border-color: #679BF5;
 border-width: 0px;
 border-bottom-width: 1px;
 }
 
td.DataTable_Sum {
 border-style: double;
 border-color: #000000;
 border-width: 0px;
 border-top-width: 1px;
 
 font-weight: bold;
 }

div.FormBox {
 width: 800px;
 padding: 10px;
 
 font-size: 16px;
 font-weight: bold;
 
 margin-top: 20px;
 margin-bottom: 20px;
 background-color: #F0F0F0;
 }

span.linkbox {
 background-color: #F0F0F0;
 color: #285DB8;
 padding: 4px;
 padding-top: 5px;
 
 border: 1px solid #DCDCDC;
 
 -moz-border-radius: 5px; /* Firefox */
 -webkit-border-radius: 5px; /* Safari, Chrome */
 -khtml-border-radius: 5px; /* Konqueror */
 border-radius: 5px; /* CSS3 */
 }
 
span.linkbox:hover {
	color: #679BF5;
}

a.linkbox {
 font-weight: bold;
 text-decoration: none;
 }

a.linkbox:hover {
 font-weight: bold;
 text-decoration: none;
 }

p.message {
 font-size: 14px;
 color: #000000;
 }
 
p.onpageMessage {
	width: 500px;
	padding: 10px;
	
	font-weight: bold;
	
	border-width: 1px;
	border-style: solid;
	border-color: #285DB8;
	}

p.footnote {
 font-size: 12px;
 color: #000000;
 }

font.messageHeader {
 font-size: 16px;
 font-weight: bold;
 color: #285DB8;
 text-decoration: none;
 }

p.alert {
	color: #FF0000;
	font-weight: bold;
	font-size: 12px;
}

div.blog {
	width: 400px;
	padding: 5px;
	margin: 5px;
	background-color: #FFFFFF;
	
	border-style: solid;
	border-width: 1px;
	border-color: #000000;

	text-align: left;
}

div.account {
	width: 300px;
	height: 100px;
	float: left;
	
	font-size: 12px;
	
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	
	margin: 5px;
	padding: 5px;
	
	background-color: #FFDCA8;
}

a.silent {
	text-decoration: none;
	color: #000000;
}

a.silent:hover {
	text-decoration: none;
	color: #000000;
}

a.silent:visited {
	text-decoration: none;
	color: #000000;
}