/* IDs */
/*#banner 
{
	height: 44px;
	width:100%;
	background-color:#fff;
	border-bottom:1px solid;
	border-bottom-color:#e0e0e0;	
	
}

#bannerContent
{
	color: #777;
	padding:0px 24px;
}
*/

#banner 
{
	height: 44px;
	width:100%;
	background-color:#61b3ff;
	border-bottom:1px solid;
	border-bottom-color:#e0e0e0;
	line-height: 44px;
}

#bannerContent
{
	color: #fff;
	padding:0px 24px;
}


#SystemName 
{
	float: left;
 }

#CompanyName 
{
	float: left;
	font-size: 18pt;
	font-weight: 500;
}

#UserInfo {

 }

#Logout 
{
	float: right;
}

#Logout_link 
{

}

#Logout_link:hover
{
}

#content_container
{
	width: 100%;
	float: left;
}

#navigation 
{
	float: left;
	width: 136px;
	background-color: #fff;
}

#content_insets
{
	padding: 24px;
	margin-left: 136px;
}


#content 
{
	padding: 24px;
	background-color: #fff;
	border:1px solid;
	border-color:#e0e0e0;	
}
	
#refresh {

	}
