@CHARSET "ISO-8859-1";

.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

div.rehearsal {
	width: 500px;
	margin-left: 20px;
	padding: 5px;
	
	border: 1px solid #679BF5;
	margin-bottom: 10px;
}

a.rehearsal {
	text-decoration: none;
}

li.practise {
	margin-bottom: 10px;
}