/*
 * BNote Main Color Definitions 
 */
@bnote-color: #F2C922;
@bnote-dark-alt: #E0B400;

@bnote-yellow: #F9FF61;
@bnote-redish: #ED6D6D;
@bnote-green: #3AE61C;

@bnote-blackish: #383838;
@bnote-lightgray: #E6DDBA;
@bnote-middlegray: #BDB597;
@bnote-darkgray: #69624A;

@black: #000000;
@white: #FFFFFF;