@CHARSET "UTF-8";

table.grid {
	width: 1000px;
	
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
}

tr.grid {
	border-style: solid;
	border-color: #DCDCDC;
	border-width: 0px;
	border-bottom-width: 1px;
}

td.grid_available {
	background-color: #33FF00;
}

td.grid_unavailable {
	background-color: #FF0000;
}

td.grid_blank {
	background-color: #DCDCDC;
}