@CHARSET "UTF-8";

.help_navigator {
	margin-bottom: 20px;
}

.help_navigator_menu {
	float: left;
	width: 250px;
	background: #DCDCDC;
	height: 100%;
}

.help_navigator_menu_topic {
	padding: 5px;
	background-color: #679BF5;
	color: #FFFFFF;
	font-weight: bold;
}

.help_navigator_menu_page {
	padding: 5px;
	padding-left: 15px;
	padding-right: 20px;
}

.help_navigator_menu_page:hover {
	background-color: #FFFFFF;
}

.help_navigator_menu_page_active {
	padding: 5px;
	padding-left: 15px;
	padding-right: 20px;
	background-color: #FFFFFF;
	color: #285DB8;
}

.help_navigator_menu_page_active:hover {
	color: #000000;
}

.help_navigator_content {
	float: left;
	width: 750px;
	padding-left: 10px;
	padding-right: 10px;
}

a.help_navigator_menu_page_link {
	text-decoration: none;
}

.help_page_title {
	font-size: 20px;
	font-weight: bold;
	color: #285DB8;
}