<?xml version="1.0" encoding='utf-8'?>

<Software Name="BNote">

 <!-- ID of the Start module -->
 <StartModule>1</StartModule>
 
 <!-- URL of the BNote system -->
 <URL>http://demo.bnote.info</URL>
 
 <!-- E-mail-address of the administrator -->
 <Admin>matti@bnote.info</Admin>
 
 <!-- Path to the manual file, i.e. PDF file -->
 <Manual>data/manual.pdf</Manual>
 
 <!-- True when this is a demo system with deactived mailing function, otherwise false (default). -->
 <DemoMode>false</DemoMode>
 
 <!-- In case users have to be activated by the administrator set this to true,
      otherwise users will be activated by clicking on a link in an email (false).
      // NOT USED AS OF 2.4.0
 -->
 <ManualUserActivation>false</ManualUserActivation>
 
 <!-- The user IDs of all super users whos credentials will not be shown on the website.
      This is a comma separated list without spaces.
  -->
 <SuperUsers>1</SuperUsers>
 
 <!-- Default Permissions for a new user. Comma separated list of user IDs without spaces. -->
 <DefaultPrivileges>9,10,12,13,14</DefaultPrivileges>
 
 <!-- This property specifies who / which group can upload data to the share. This includes the right to edit folders.
 	  Possible values are: ADMIN, MEMBER, EXTERNAL, APPLICANT, OTHER
 	  Constraints: ADMIN can always edit;
 	  Advise: A value of EXTERNAL, APPLICANT or OTHER is not adviseable! 
 	  Only one value is accepted. -->
 <ShareEditGroup>ADMIN</ShareEditGroup>
 
 <!-- True when the gallery management is used
      and should be displayed and functional, otherwise false. -->
 <UseGallery>True</UseGallery>
 
 <!-- True when the infopage/news/additional pages management is used
      and should be displayed and functional, otherwise false. -->
 <UseInfoPages>True</UseInfoPages>
 
 <!-- Only show the instruments of these category ids. Separate ids by comma without spaces.
 	  If set to "ALL" then show all available instruments.
 	  // NOT USED AS OF 2.4.0
 -->
 <InstrumentCategoryFilter>ALL</InstrumentCategoryFilter>
 
 <!-- The webpages available in the website module.
 	  A page tag contains an attribute "file" specifying the filename without the html-extension
 	  in the data/webpages folder and the body containing the displayed name of the page. -->
 <WebPages>
 	<Page file="startseite">Startseite</Page>
	<Page file="news">Nachrichten</Page>
 	<Page file="infos">Informationen</Page>
	<Page file="band">Die Band</Page>
 	<Page file="geschichte">Geschichte</Page>
	<Page file="mitspieler">Besetzung</Page>
	<Page file="konzerte">Konzerte</Page>
 	<Page file="mediathek">mediathek</Page>
 	<Page file="galerie">Galerie</Page>
 	<Page file="videos">Videos</Page>
 	<Page file="samples">Aufnahmen</Page>
	<Page file="kontakt">Kontakt</Page>
	<Page file="impressum">Impressum</Page>
 </WebPages>
</Software>
