@CHARSET "UTF-8";

.finance_filter_box {
	border: 1px solid #eee;
	padding: 10px;	
}

.finance_filter_title {
	font-weight: 600;
}

.finance_filter_box form {
	margin-top: 5px;
}

.finance_filter_box input {
	margin: 0px;
	margin-right: 5px;
}

.finance_filter_box label {
	display: inline-block;
	width: 80px;
}

.finance_filter_row {
	padding-top: 5px;
    padding-bottom: 5px;
}