body {
	color: #000;
	background-color: #fff;
	font-family: 'PT Sans', 'Raleway', Arial, sans-serif;
	font-size: 11pt;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: #61b3ff;
}

p {
	margin-bottom: 8px;
	margin-top: 5px;
}

h1
{
	font-size: 18pt;
	font-weight: 600;
	margin-bottom: 6pt;
	color: #61b3ff;
}

h2 {
	font-size: 16pt;
	font-weight: 600;
	margin-bottom: 6pt;
	margin-top: 12pt;
}

h3 {
	font-size: 13pt;
	font-weight: 600;
	margin-bottom: 4pt;
	margin-top: 6pt;
}

.clearing {
	height: 0;
	clear: both;
}

a.Logout {
	color: #fff;
}

div.optionsContainer {
	display: inline-block;
	margin-left: 90px;
}

a.navi {
	color: #000;
}

a.navi:visited {
	
}

div.navi_item {
	padding: 10px;
	border-right: 1px solid;
	border-right-color: #e0e0e0;
	border-bottom: 1px solid;
	border-bottom-color: #e0e0e0;
	background-color: #fff;
	
	text-transform: uppercase;
	font-size: 10pt;
}

div.navi_item:hover {
	background-color: #61b3ff;
	color: #fff;
}

div.navi_item_selected {
	padding: 10px;
	background-color: #eee;
	color: #000;
	border-bottom: 1px solid;
	border-bottom-color: #e0e0e0;
}

div.navi_item_selected:hover {
	
}

img.navi_item_icon {
	margin-right: 8px;
}

input[type="submit"] {
	color: #000;
	background-color: #eee;
	font-size: 11pt;
	font-family: 'PT Sans', 'Raleway', Arial, sans-serif;
	padding: 6px 20px;
	border: 1px solid;
	border-color: #e0e0e0;
}

input[type="submit"]:hover,a.linkbox:hover {
	background-color: #61b3ff;
	color: #fff;
}


input[type="text"],input[type="password"],textArea,select {
	color: #000;
	background-color: #fff;
	font-size: 11pt;
	font-family: 'PT Sans', 'Raleway', Arial, sans-serif;
	padding: 2px 6px;
	border: 1px solid;
	border-color: #61b3ff;
}

/* table */
table {
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: #fff;
	table-layout:fixed;
}

td {
	padding: 10px;
	white-space: -o-pre-wrap; 
    word-wrap: break-word;
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
    vertical-align: top;
}

form {
	margin-top: 25px;
}

form td {
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 2px;
	padding-right: 15px;
}

form tr {
	border-bottom-width: 0px;
}

td.DataTable_Header {
	background-color: #61b3ff;
	color: #fff;
	text-transform: uppercase;
	font-size: 10pt;
}

/* Zebra striping 
tr:nth-of-type(even) {
	background: #fff;
}

tr:nth-of-type(odd) {
	background: #eee;
}*/

tr {
	border-bottom: 1px solid;
	border-color: #eee;
}

td a {
	color: black;
}

td.DataTable_Sum {
	
}

div.FormBox {
	padding: 24px;
	background-color: #fff;
	border: 1px solid;
	border-color: #e0e0e0;
	display: inline-block;
	margin-top: 10px;
}

legend.FormBox {
	text-transform: uppercase;
	color: #61b3ff;
	font-weight: 600;
	font-size: 12pt;
	padding-bottom: 0px;
}

div.FormBox.table {
	border-color: red;
}

div.linkbox {
	display: inline-block;
	white-space:nowrap;
	
	background: #eee;
	padding: 5px 10px;
	border: 1px solid #dcdcdc;
}

span.linkbox:hover {
	
}

div.rehearsal {
	padding: 24px;
	background-color: #fff;
	border: 1px solid;
	border-color: #e0e0e0;
	display: inline-block;
}

div.rehearsalDate
{
font-weight: 600;

}

div.rehearsalDescription
{
	color: #000;
}

p.message {
	
}

p.onpageMessage {
	
}

p.footnote {
	
}

font.messageHeader {
	font-size: 12pt;
	font-weight: 600;
}

p.alert {
	
}

div.blog {
	
}

div.account {
	
}

a.silent {
	
}

a.silent:hover {
	
}

a.silent:visited {
	
}

/*
li.start_rehearsal {
	border-style: solid;
	border-width: 0px;
	border-color: #61b3ff;
	border-left-width: 5px;
	padding-left: 5px;
	padding-top: 8px;
	margin-bottom: 5px;
}
*/
p.start_rehearsal_title {
	font-size: 12pt;
	font-weight: 600;
}

pre.start_rehearsal {
	padding-bottom: 10px;
	font-style: italic;
}

div.contact_view_tabs {
	width: 100%;
	padding: 8px;
}

span.contact_view_tab {
	display: inline-block;
	border: solid 0px #e0e0e0;
	padding: 5px 10px;
	color: #000;
	background-color: #eee;
}

span.contact_view_tab_active {
	display: inline-block;
	border: solid 0px #e0e0e0;
	padding: 5px 10px;
	color: #fff;
	background-color: #61b3ff;
	font-size: 14pt;
}

span.contact_view_tab:hover {
	background-color: #61b3ff;
	color: #fff;
}

table.contact_view {
	margin-top: 0px;
	width: 100%;
}

.progressbar_step {
	float: left;
	padding: 10px;
	background-color: #eee;
}

.passed {
	background-color: #61b3ff;
	color: #fff;
}

.arrow_right {
	float: left;
	margin-right: 3px;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #eee;
}

.passed_arrow {
	border-left: 20px solid #61b3ff;
}

div.concert {
	padding: 10px;
	background-color: #eee;
	border: 1px solid #e0e0e0;
	margin-bottom: 5px;
	vertical-align: text-top;
}

p.concert_title {
	font-weight: 600;
	color: #000;
}

p.concert_details {
	color: #000;
}

div.rehearsal {
	padding: 10px;
	background-color: #eee;
	border: 1px solid #e0e0e0;
	margin-bottom: 5px;
	vertical-align: text-top;
}

p.rehearsal_title {
	font-weight: 600;
	color: #000;
}

p.rehearsal_details {
	color: #000;
}

.login_whyBNote_topic {
	font-weight: 600;
	margin-top: 20px;
}

#autoActivation {
	color: #F9FF61;
	font-weight: bold;
	margin-left: 20px;
	letter-spacing: 0.1em;
}
.logout {
	margin: 2%;
	display: inline-block;
	padding: 10px;
	background: #FFFFFF;
}

fieldset table {
	border: none;
}

fieldset tr {
	border: none;
}

.login {
	border: none;
}

.linkbox {
	color: #000;
}

.linkbox:hover {
	color: #61b3ff;
}

.linkIcon {
	margin: -2px;
	margin-right: 3px;
	margin-left: 0px;
}