RewriteEngine on
RewriteRule ^calendar.ics$ calendar.php
RewriteRule ^kontakte.vcd$ vcard.php
RewriteRule ^programm.csv$ program-csv.php 
RewriteRule ^repertoire.csv$ repertoire.php 
RewriteRule ^gigcard.doc$ gigcard.php