@CHARSET: "UTF-8";

@import "colors";

div.concert {
	padding: 10px;
	background-color: @white;
	border: 1px solid @bnote-lightgray;
	border-bottom-width: 2px;
	margin-bottom: 5px;
	vertical-align: text-top;
	color: @black;
}

p.concert_title {
	font-weight: 600;
	color: @bnote-darkgray;
}

span.concert_title_name {
	color: @bnote-color;
	font-weight: normal;
}

span.concert_location {
    float: right;
    margin-top: -30px;
}

span.concert_contact {
    float: right;
    margin-top: -10px;
    font-size: 80%;
}

span.concert_notes {
    color: @bnote-darkgray;
    font-style: italic;
    display: block;
}

span.start_concert_title {
	font-weight: 600;
}