@CHARSET: "UTF-8";

@import "colors";

#filebrowser_content {
	width: 100%;
	
	tr {
		border-width: 0px;
	}
} 

#filebrowser_folders {
	padding: 0px;
	width: 200px;
}

.filebrowser_foldertopic {
	padding: 5px;
	background-color: @bnote-color;
	color: @white;
	font-weight: bold;
}

.filebrowser_folderitem {
	padding: 5px;
	border: 1px solid @bnote-middlegray;
	border-top-width: 0px;
	
	&:hover {
		background-color: @white;
	}
}

.filebrowser_folderitem_active {
	padding: 5px;
	margin-bottom: 5px;
	color: @bnote-color;
	background-color: @white;
	
	&:hover {
		background-color: @white;
		color: @black;
	}
}

#filebrowser_files {
	background-color: @white;
	padding-top: 0px;
}

.filebrowser_folder_header {
	margin-top: 0px;
} 