@CHARSET "UTF-8";

a.imagetable {
	
}

div.imagetable {
	display: inline-block;
	border: 1px solid #E6E6E6;
	text-align: center;
	padding: 5px;
	
}

span.imagetable_label {
}

img.imagetable {
	margin-bottom: 3px;
}