RewriteEngine on

# publically available actions
RewriteRule createTrigger createTrigger.php

# Protect the htaccess file
<Files .htaccess>
	Order Allow,Deny
	Deny from all
</Files>

# Protect logs
<Files *.log>
	Order Allow,Deny
	Deny from all
</Files>

# Protect all PHP files
<Files *.php>
	Order Allow,Deny
	Deny from all
</Files>

# Protect all XML files
<Files *.xml>
	Order Allow,Deny
	Deny from all
</Files>


# Allow access to endpoint
<Files createTrigger.php>
	Allow from all
</Files>